body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(003-subtle-light-pattern-background-texture-vol5.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 1500px;
  margin: 20px auto 20px auto;
}
#location {
  color: purple;
}
.awesome {
  color:orange
  font-size:36px
}
h2 {font-family: "Comic Sans MS";
font-style:oblique;
font-weight: bolder;
}
h1 {
  font-size: 80px;
  color:green
}
